body{
    display: flex;
    position: absolute;
    top: calc(0vh);
    left: calc(0vw);
    height: calc(100vh);
    width: calc(100vw);
    background-color: lightcyan;
    overflow-y: scroll;
    font-family: Arial, Helvetica, sans-serif;
}
div.topnav{
    display: flex;
    position: fixed;
    top: calc(0vh);
    left: calc(0vw);
    height: calc(4vh);
    width: calc(100vw);
    background-color: lightgray;
    z-index: 10;
}
div.topli{
    position: absolute;
    top: calc(0vh);
    left: calc(23vw);
    height: calc(4vh);
    width: calc(76vw);
    /* border-left: 1px solid red;
    border-right: 1px solid red; */
    justify-content: center;
}
div.topli1{
    display: flex;
    position: absolute;
    top: calc(1vh);
    left: calc(0vw);
    height: calc(3vh);
    width: calc(10vw);
    color: rgb(255, 58, 58);
    /* background-color: lightblue; */
    font-size: small;
}
div.topli2{
    display: flex;
    position: absolute;
    top: calc(1vh);
    left: calc(11vw);
    height: calc(3vh);
    width: calc(14vw);
    /* background-color: rgb(57, 199, 247); */
    font-size: small;
}
div.topli3{
    display: flex;
    position: absolute;
    top: calc(1vh);
    left: calc(26vw);
    height: calc(3vh);
    width: calc(8vw);
    /* background-color: rgb(174, 230, 248); */
    font-size: small;
}
div.topli4{
    display: flex;
    position: absolute;
    top: calc(1vh);
    left: calc(35vw);
    height: calc(3vh);
    width: calc(9vw);
    /* background-color: rgb(174, 230, 248); */
    font-size: small;
}
div.topli5{
    display: flex;
    position: absolute;
    top: calc(1vh);
    left: calc(45vw);
    height: calc(3vh);
    width: calc(9vw);
    /* background-color: rgb(174, 230, 248); */
    font-size: small;
}
div.topli6{
    display: flex;
    position: absolute;
    top: calc(1vh);
    left: calc(55vw);
    height: calc(3vh);
    width: calc(3vw);
    /* background-color: rgb(174, 230, 248); */
    font-size: small;
}
div.topli7{
    display: flex;
    position: absolute;
    top: calc(1vh);
    left: calc(59vw);
    height: calc(3vh);
    width: calc(4vw);
    /* background-color: rgb(174, 230, 248); */
    font-size: small;
}
div.topli8{
    display: flex;
    position: absolute;
    top: calc(1vh);
    left: calc(64vw);
    height: calc(3vh);
    width: calc(10vw);
    /* background-color: rgb(174, 230, 248); */
    font-size: smallER;
}
div.mainnav{
    display: flex;
    position: fixed;
    top: calc(4vh);
    left: calc(0vw);
    height: calc(15vh);
    width: calc(100vw);
    background-color: white;
    z-index: 10;
}
div.mainlogo{
    display: flex;
    position: absolute;
    top: calc(2vh);
    left: calc(7vw);
    height: calc(10vh);
    width: calc(8vw);
    /* background-color: rgb(217, 247, 137); */
}
img.mainlogo{
    height: inherit;
    width: inherit;
}
div.mainsearchbar{
    display: flex;
    position: absolute;
    top: calc(3vh);
    left: calc(20vw);
    height: calc(8vh);
    width: calc(50vw);
    background-color:silver;
}
div.maininput{
    display: flex;
    position: absolute;
    top: calc(0vh);
    left: calc(1vw);
    height: calc(8vh);
    width: calc(45vw);
    /* background-color: antiquewhite; */
}
input.maininput{
    height: inherit;
    width: inherit;
    background-color: transparent;
    border: none;
    color: lightgray;
}
div.mainsearchicon{
    display: flex;
    position: absolute;
    top: calc(0vh);
    right: calc(0vw);
    height: calc(8vh);
    width: calc(3vw);
    background-color: orange;
    /* color: white; */
}
img.mainsearchicon{
    display: flex;
    position: absolute;
    top: calc(1vh);
    left: calc(0.5vw);
    height: calc(6vh);
    width: calc(2vw);
    /* color: white; */
}
div.mainshop{
    display: flex;
    position: absolute;
    top: calc(5vh);
    left: calc(72vw);
    height: calc(5vh);
    width: calc(3vw);
    /* background-color: aqua; */
}
div.specialoffer{
    display: flex;
    position: absolute;
    top: calc(3vh);
    left: calc(78vw);
    height: calc(9vh);
    width: calc(15vw);
    background-color: white;
}

div.adverandproduct{
    display: flex;
    position: absolute;
    top: calc(20vh);
    left: calc(0vw);
    width: calc(100vw);
    height: calc(52vh);
    background-color: orange;
}
div.products{
    display: flex;
    position: absolute;
    top: calc(0vh);
    left: calc(5vw);
    width: calc(15vw);
    height: calc(52vh);
    background-color: whitesmoke;
    box-shadow: 1px 1px 1px 1px gray;
}
div.product1{
    display: flex;
    position: absolute;
    top: calc(1vh);
    left: calc(0vw);
    height: calc(3vh);
    width: calc(15vw);
    border-bottom: 0.2px solid gray;   
}
div.product2{
    display: flex;
    position: absolute;
    top: calc(5vh);
    left: calc(0vw);
    height: calc(3vh);
    width: calc(15vw);
    border-bottom: 0.2px solid gray;   
}
div.product3{
    display: flex;
    position: absolute;
    top: calc(9vh);
    left: calc(0vw);
    height: calc(3vh);
    width: calc(15vw);
    border-bottom: 0.2px solid gray;   
}
div.product4{
    display: flex;
    position: absolute;
    top: calc(13vh);
    left: calc(0vw);
    height: calc(3vh);
    width: calc(15vw);
    border-bottom: 0.2px solid gray;   
}
div.product5{
    display: flex;
    position: absolute;
    top: calc(17vh);
    left: calc(0vw);
    height: calc(3vh);
    width: calc(15vw);
    border-bottom: 0.2px solid gray;   
}
div.product6{
    display: flex;
    position: absolute;
    top: calc(21vh);
    left: calc(0vw);
    height: calc(3vh);
    width: calc(15vw);
    border-bottom: 0.2px solid gray;   
}
div.product7{
    display: flex;
    position: absolute;
    top: calc(25vh);
    left: calc(0vw);
    height: calc(3vh);
    width: calc(15vw);
    border-bottom: 0.2px solid gray;   
}
div.product8{
    display: flex;
    position: absolute;
    top: calc(29vh);
    left: calc(0vw);
    height: calc(3vh);
    width: calc(15vw);
    border-bottom: 0.2px solid gray;   
}
div.product9{
    display: flex;
    position: absolute;
    top: calc(33vh);
    left: calc(0vw);
    height: calc(3vh);
    width: calc(15vw);
    border-bottom: 0.2px solid gray;   
}
div.product10{
    display: flex;
    position: absolute;
    top: calc(37vh);
    left: calc(0vw);
    height: calc(3vh);
    width: calc(15vw);
    border-bottom: 0.2px solid gray;   
}
div.product11{
    display: flex;
    position: absolute;
    top: calc(41vh);
    left: calc(0vw);
    height: calc(3vh);
    width: calc(15vw);
    border-bottom: 0.2px solid gray;   
}
div.product12{
    display: flex;
    position: absolute;
    top: calc(45vh);
    left: calc(0vw);
    height: calc(3vh);
    width: calc(15vw);
    border-bottom: 0.2px solid gray;   
}
div.product:hover{
    background-color: lightblue;
}
div.arrow{
    display: none;
    position: absolute;
    top: calc(0vh);
    right: calc(0vw);
    height: calc(3vh);
    width: calc(1.5vw);
    background-color: lightblue;
}
div.product:hover div.arrow{
    display: block;
}
div.product1pro{
    display: none;
    position: absolute;
    top: calc(0vh);
    left: calc(20vw);
    width: calc(15vw);
    height: calc(52vh);
    background-color: whitesmoke;
    box-shadow: 1px 1px 1px 1px gray;
}
div.product1:hover ul.product1{
    display: block;
}
ul.product{
    box-shadow: 1px 1px 1px 1px;
}
ul.product1{
    display: none;
    position: absolute;
    top: calc(-4vh);
    left: calc(15vw);
    background-color: whitesmoke;
    width: calc(15vw);
    height: calc(50vh);
}
li.product{
    margin-top: 5px;
    text-decoration: none;
    list-style-type: none;
}
div.arrowli{
    display: none;
}
ul.product2{
    display: none;
    position: absolute;
    top: calc(-8vh);
    left: calc(15vw);
    background-color: whitesmoke;
    width: calc(15vw);
    height: calc(50vh);
}
div.product2:hover ul.product2{
    display: block;
}
ul.product3{
    display: none;
    position: absolute;
    top: calc(-12vh);
    left: calc(15vw);
    background-color: whitesmoke;
    width: calc(15vw);
    height: calc(50vh);
}
div.product3:hover ul.product3{
    display: block;
}
ul.product4{
    display: none;
    position: absolute;
    top: calc(-16vh);
    left: calc(15vw);
    background-color: whitesmoke;
    width: calc(15vw);
    height: calc(50vh);
}
div.product4:hover ul.product4{
    display: block;
}
ul.product5{
    display: none;
    position: absolute;
    top: calc(-20vh);
    left: calc(15vw);
    background-color: whitesmoke;
    width: calc(15vw);
    height: calc(50vh);
}
div.product5:hover ul.product5{
    display: block;
}
ul.product6{
    display: none;
    position: absolute;
    top: calc(-24vh);
    left: calc(15vw);
    background-color: whitesmoke;
    width: calc(15vw);
    height: calc(50vh);
}
div.product6:hover ul.product6{
    display: block;
}
ul.product7{
    display: none;
    position: absolute;
    top: calc(-28vh);
    left: calc(15vw);
    background-color: whitesmoke;
    width: calc(15vw);
    height: calc(50vh);
}
div.product7:hover ul.product7{
    display: block;
}
ul.product8{
    display: none;
    position: absolute;
    top: calc(-32vh);
    left: calc(15vw);
    background-color: whitesmoke;
    width: calc(15vw);
    height: calc(50vh);
}
div.product8:hover ul.product8{
    display: block;
}
ul.product9{
    display: none;
    position: absolute;
    top: calc(-36vh);
    left: calc(15vw);
    background-color: whitesmoke;
    width: calc(15vw);
    height: calc(50vh);
}
div.product9:hover ul.product9{
    display: block;
}
ul.product10{
    display: none;
    position: absolute;
    top: calc(-36vh);
    left: calc(15vw);
    background-color: whitesmoke;
    width: calc(15vw);
    height: calc(50vh);
}
div.product10:hover ul.product10{
    display: block;
}
ul.product11{
    display: none;
    position: absolute;
    top: calc(-44vh);
    left: calc(15vw);
    background-color: whitesmoke;
    width: calc(15vw);
    height: calc(52vh);
}
div.product11:hover ul.product11{
    display: block;
}
ul.product12{
    display: none;
    position: absolute;
    top: calc(-48vh);
    left: calc(15vw);
    background-color: whitesmoke;
    width: calc(15vw);
    height: calc(52vh);
}
div.product12:hover ul.product12{
    display: block;
}
div.eidshopping{
    display: flex;
    position: absolute;
    top: calc(75vh);
    left: calc(7.5vw);
    height: calc(30vh);
    width: calc(85vw);
    background-color: orange;
    border-radius: 30px;
}
div.eds{
    display: flex;
    position: absolute;
    top: calc(8vh);
    left: calc(4vw);
    width: calc(30vw);
    height: calc(9vh);
    font-size: 350%;
    font-weight: bold;
    color: skyblue;
    /* background-color: lightgoldenrodyellow; */
}
div.bv{
    display: flex;
    position: absolute;
    top: calc(17vh);
    left: calc(4vw);
    height: calc(5vh);
    width: calc(30vw);
    font-size: 130%;
    color: skyblue;
    /* background-color: lightseagreen; */
}
div.shopnow{
    display: flex;
    position: absolute;
    top: calc(13vh);
    right: calc(3vw);
    height: calc(7vh);
    width: calc(10vw);
    background-color: skyblue;
    border-radius: 30px;
    box-shadow: 1px 1px 1px 1px;
}
div.shopnow:hover{
    background-color: blueviolet;
    box-shadow: 1px 1px 1px 1px;
}
button.shopnow{
    height: inherit;
    width: inherit;
    border-radius: 40px;
    background-color: transparent;
    border: none;
    color: darkorange;
    font-size: large;
    font-weight: bold;
}
div.eidimage{
    display: flex;
    position: absolute;
    top: calc(0vh);
    left: calc(35vw);
    height: calc(30vh);
    width: calc(35vw);
    background-color: lightsalmon;
}
img.eid{
    height: inherit;
    width: inherit;
}
div.categories{
    display: flex;
    position: absolute;
    top: calc(110vh);
    left: calc(8vw);
    height: calc(10vh);
    width: calc(84vw);
    /* background-color: blue; */
}
div.mart{
    display: flex;
    position: absolute;
    top: calc(0vh);
    left: calc(0vw);
    height: inherit;
    width: calc(27vw);
    background-color: whitesmoke;
    border-radius: 20px;
}
div.fashion{
    display: flex;
    position: absolute;
    top: calc(0vh);
    left: calc(28.5vw);
    height: inherit;
    width: calc(27vw);
    background-color: whitesmoke;
    border-radius: 20px;
}
div.beauty{
    display: flex;
    position: absolute;
    top: calc(0vh);
    left: calc(57vw);
    height: inherit;
    width: calc(27vw);
    background-color: whitesmoke;
    border-radius: 20px;
}
div.categoriesimg{
    display: flex;
    position: absolute;
    top: calc(1vh);
    left: calc(1vw);
    height: calc(8vh);
    width: calc(4vw);
    /* background-color: blue; */
}
img.categories{
    height: inherit;
    width: inherit;
    border-radius: 100px;
}
div.categoriesdata{
    display: flex;
    position: absolute;
    top: calc(3vh);
    left: calc(6vw);
    height: calc(6vh);
    width: calc(20vw);
    font-size: 180%;
    /* background-color: blue; */
}
div.ctgr{
    box-shadow: 1px 1px 1px 1px;
}
div.ctgr:hover{
    background-color: yellow;
    box-shadow: 1px 1px 1px 1px;
}
div.productssection{
    display: flex;
    position: absolute;
    top: calc(130vh);
    left: calc(10vw);
    height: calc(500vh);
    width: calc(80vw);
    background-color: rgb(245, 112, 112);
}

